.llamaverse {
    max-width: 87px;
    max-height: 76px;
    filter: invert(31%) sepia(23%) saturate(12%) hue-rotate(11deg) brightness(102%) contrast(87%);
    transition: all 0.3s ease-out;
}

.llamaverse:hover {
    transition: all 0.3s ease-in;
    filter: none;
}

.illogics {
    filter: invert(31%) sepia(23%) saturate(12%) hue-rotate(11deg) brightness(102%) contrast(87%);
    transition: all 0.3s ease-out;
    max-width: 150px;
}

.illogics:hover {
    transition: all 0.3s ease-in;
    filter: none;
}

.squishy-squad {
    filter: invert(31%) sepia(23%) saturate(12%) hue-rotate(11deg) brightness(102%) contrast(87%);
    max-width: 86px;
    max-height: 56px;
    transition: all 0.3s ease-out;
}

.squishy-squad:hover {
    transition: all 0.3s ease-in;
    filter: none;
}

.dobies {
    filter: invert(31%) sepia(23%) saturate(12%) hue-rotate(11deg) brightness(102%) contrast(87%);
    max-width: 105px;
    max-height: 41px;
    transition: all 0.3s ease-out;
}

.dobies:hover {
    transition: all 0.3s ease-in;
    filter: none;
}

.partners-row {
    justify-content: center;
    align-items: center;
    background: rgba(237, 237, 237, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile-partners-row .characters-image {
    max-width: 100%;
}

.mobile-partners-row {
    width: 100%;
}

.mobile-partners-row .partners-col {
    padding: 15px 0;
    overflow-x: hidden;
}